*.ini
*.log
*.[oa]
*.swp
*.dblite
bin
*-workspace
*.exe
*.cc
*.os
*.so
*.la
*.depends

CMakeCache.txt
CTestTestfile.cmake
DartConfiguration.tcl
Testing/
Makefile
CMakeFiles
cmake_install.cmake
*_autogen/
cmake.config

CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
Doxyfile.Doxygen

.asciidoctor
./config.hpp
oi
catch2
build_*
build-windows/

rumpu/app/license.hpp
rumpu/app/version.hpp

local-plan.txt
test/export.wav
*_include.cmake
*_tests.cmake
test/output/
